extends layout

block content
  h1 Chat

  label(for="userName") Nombre de usuario: (Presiona "Enter") 
  input#userName(type="text", size="30")
  span#feedback

  p
  div#msgWindow.shadow

  p
  div
    br
    table
      tr
        td
          select#users(style="width: 100px")
        td
          input#msg(type="text", style="width: 600px", disabled="true")